.Header {
    color: #fff;
    height: 9vh;
    width: 100%;
    position: relative;
    margin: 0 auto;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #239f95;
    z-index: 1000;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.Header h2 {
    font-weight: 100;
}

.Header h2:hover {
    cursor: pointer;
    opacity: 0.5;
}

.Header img {
    width: 7.5vh;
    height: 7.5vh;
    border-radius: 100%;
    border: 2px solid #fff;
    box-shadow: 1px 2px 2px rgba(0, 0, 0, .5);
}

.Header i {
   color: #ccc;
   font-size: 60%;
   margin-left: 5px;
   margin-top: -10px;
}