.Project {
    height: 200px;
    width: 300px;
    background-size: cover;
    display: flex;
    align-items: flex-end;
}

.Project:hover {
    cursor: pointer;
    opacity: .5;
}

.ProjectContent {
    padding: 10px;
    width: 100%;
    background-color: rgba(0, 0, 0, .6);
    color: #fff;
}

.Popup {
    overflow-y: scroll;
    max-height: 70vh;
}

.Popup::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.Popup::-webkit-scrollbar
{
	width: 12px;
	background-color: #F5F5F5;
}

.Popup::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #555;
}

.Popup img {
    width: 300px;
    height: 250px;
}

.Popup a {
    text-decoration: none;
    color: #000;
}
